@import '../../styles/_variables.scss';

.sort {
  position: relative;
  display: flex;
  justify-content: center;
  background: $neutral-50;
  padding: 15px;
  border-radius: 20px;

  &__label {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);;
    align-items: center;

    &-title {
      text-align: left;
    }

    &-btn {
      grid-column: 2/4;
      text-align: center;

      cursor: pointer;
      color: $red-400;
      text-decoration: underline;
      text-decoration-style: dashed;
      text-decoration-thickness: 2px;
    }

    &-radio_desc {
      align-self: center;
      justify-self: left;
      margin-top: 5px;
      margin-left: 5px;
      border-left: 1px solid $gray-600;

      input {
        margin-right: 5px;
        margin-left: 11px;
      }

      span {
        font-size: 1.4rem;
      }
    }

    &-radio_asc {
      align-self: center;
      justify-self: right;
      margin-top: 5px;
      margin-right: 5px;

      input {
        margin-right: 3px;
        margin-bottom: 12px;
      }

      span {
        font-size: 1.4rem;
      }
    }

    &-select select {
      appearance: none;
      //outline: none;

      width: auto;
      border: 1px solid $gray-400;
      border-radius: 0.25em;
      padding: 0.25em 0.5em;
      font-size: 1.25rem;
      cursor: pointer;
      line-height: 1.1;
      background-color: #fff;
      text-align: center;

      transition: all ease-in-out 200ms;
      &::-ms-expand {
        display: none;
      }

      &:hover {
        border: 2px solid $gray-600;
      }
      &:focus {
        border: 2px solid $gray-400;
      }
    }
  }

  &__popup {
    position: absolute;
    visibility: visible;
    //display: block;
    background: $gray-200;
    top: 60px;
    right: 20px;
    padding: 5px;
    border: 1px solid $gray-400;
    opacity: 1;
    cursor: pointer;
    z-index: 100;

    transition-property: visibility, opacity;
    transition-timing-function: ease-out, ease-out;
    transition-duration: 700ms, 700ms;
    transition-delay: 0s, 0s;

    @media (max-width: 1000px) {
      right: 37%;
    }
    @media (max-width: 700px) {
      right: 30%;
    }
    @media (max-width: 570px) {
      right: 28%;
    }
  }

  .invisible {
    opacity: 0;
    visibility: hidden;
  }

  .active {
    color: $red-400;
  }
}
